@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
body {
  font-family: 'Merriweather', serif;
}

.section-title {
  margin-top: 100px;
  color: rgb(14, 13, 13);
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.section-subtitle {
  color: rgb(190, 187, 187);
  margin-bottom: 80px;
  font-size: 14px;
}

header {
  background-image: url(../image/background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;

  .filtr {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 700px;
  }

  .navbar-brand>p {
    color: gold;
    text-transform: capitalize;
    font-size: 36px;
    padding-top: 40px;
    font-family: 'Great Vibes', cursive;
  }

  .navbar-default {
    background-color: rgba(14, 13, 13, 0.01);

    .navbar-nav li a {
      color: white;
      text-transform: uppercase;
      padding-top: 60px;
    

      &:hover {
        transform: scale(1.1);
        transition-duration: 0.5s;
        color: white;
      }
    }

  border: none;
}

.jumbotron {
  background: none;
  color: rgb(255, 255, 255);
  margin-top: 120px;

  p {
    font-size: 40px;
    text-shadow: black 0.1em 0.1em 0.2em;
  }

  .btn {
    margin-top: 45px;
    width: 220px;
    height: 80px;
    border: 1px solid #FED136;
    background: #FED136;
    text-shadow: grey 0.1em 0.1em 0.1em;

    &:hover {
      transform: scale(1.1);
      transition-duration: 0.5s;
      color: white;
    }
  }

  a {
    padding-top: 28px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
  }
}
}&
.services {
  text-align: center;

  .circle {
    margin-left: 150px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 6px solid gold;
    color: gold;

    img {
      padding-top: 15px;
    }
  }

  .description-title {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    padding-left: 25px;
  }
}

.portfolio {
  margin-top: 80px;
  background: #F7F7F7;
  text-align: center;

  img {
    width: 100%;
    height: 450px;
    padding-top: 80px;
  }

  .level-two {
    margin-top: 20px;
    margin-bottom: 100px;
  }
}

.desc {
  background: white;
  margin-top: -22px;

  h3 {
    color: black;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    padding-top: 30px;
  }

  p {
    color: rgb(117, 115, 115);
    font-size: 14px;
    padding-bottom: 15px;
    margin-top: -5px;
    font-style: italic;
  }
}

.about {
  margin: 80px 0;

  .middle {
    min-height: 273px;
  }

  .photo-box {
    position: relative;

    &::after {
      content: "";
      display: inline-block;
      min-height: 90px;
      width: 3px;
      background-color: #d3cfcf;
      position: absolute;
      top: 183px;
      left: 50%;
    }

    img {
      height: 183px;
      width: 183px;
    }
  }

  .last-circle {
    height: 183px;
    width: 183px;
    border: 7px solid #E7E6E6;
    background-color: gold;
    border-radius: 50%;
    color: white;
    font-size: 22px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .date {
    color: black;
    font-weight: bold;
    font-size: 18px;
  }

  .description-title {
    font-size: 16px;
    color: black;
    font-weight: bold;
  }

  .description-text {
    color: grey;
    font-size: 14px;
  }
}

.team {
  text-align: center;
  background: #F7F7F7;
  margin-top: 150px;

  .workers>img {
    border-radius: 50%;
    width: 215px;
    height: 215px;
  }

  h3 {
    padding-top: 10px;
    color: black;
    font-weight: bold;
  }

  .description {
    font-size: 18px;
    color: rgb(209, 207, 207);
  }

  .text {
    margin-top: 30px;
    margin-bottom: 100px;
    font-size: 16px;
    color: rgb(138, 138, 138);
  }

  .fab {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 8px;
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 50px;

    &:hover {
      color: rgb(255, 255, 255);
    }
  }

  .fa-twitter:hover {
    border: 3px solid rgb(83, 206, 200);
    &:hover {
      background-color: rgb(62, 201, 236);
    }
  }

  .fa-facebook-f:hover {
    border: 3px solid rgb(60, 134, 168);
    &:hover {
      background-color: rgb(60, 134, 168);
    }
  }

  .fa-google-plus-g:hover {
    border: 3px solid red;
    &:hover {
      background-color: red;
    }
  }

  .fa-pinterest-p:hover {
    border: 3px solid gold;
    &:hover {
      background-color: gold;
    }
  }
}

.brands {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact {
  background-image: url(../image/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;

  .title {
    margin-top: 100px;
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .subtitle {
    color: rgb(179, 179, 179);
    margin-bottom: 80px;
    font-size: 14px;
  }

  input {
    margin-bottom: 22px;
    text-transform: uppercase;
  }

  input {
    height: 50px;
  }

  textarea {
    height: 210px;
    padding-top: 14px;
  }

  .form-control {
    font-weight: bold;
    text-transform: uppercase;
    color: #bbbbbb;
    margin-bottom: 30px;
  }

  .btn-default {
    margin-bottom: 115px;
    margin-top: 0;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FED136;
    border: none;

    &:hover {
      transform: scale(1.1);
      transition-duration: 0.8s;
    }
  }

  .btn-lg {
    padding: 25px 50px;
    border-radius: 3px;
  }
}

footer {
  text-align: center;
  margin: 20px 0 20px 0;

  p {
    color: #555555;
    margin-top: 10px;
  }

  i.fab {
    color: white;
    background-color: rgb(39, 38, 38);
    line-height: 38px;
    border: 3px solid rgb(39, 38, 38);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 18px;
    margin-bottom: 10px;
  }
}

// MQ 

@media (max-width: 767px) {
	.services, .about {
		margin: 70px 0;
	}
	.portfolio {
		padding: 70px 0;
	}
	.team {
		padding-top: 50px;
	}
}

.brands > img {
  width: 500px;
}
@media (min-width: 768px) {
	.navbar-brand img {
		padding-top: 35px;
	}
	.navbar-default {
		.navbar-nav li a {
			padding: 50px 20px;
		}
	}
}

@media (max-width: 991px) {
	.description-text {
		margin-bottom: 50px;
	}
	.portfolio .first-row {
		margin-bottom: 0;
	}
	.about {
		.text-right, .text-left {
			text-align: center;
		}
		.photo-box::after {
			display: none;
		}
		.middle {
			min-height: 183px;
		}
		.photo-description {
			margin-top: 20px;
		}
	}
	.team .description-text {
		margin-bottom: 10px;
	}
	footer {
		i.fab {
			margin-bottom: 20px;
		}
	}
}
@media (min-width: 992px) {
	footer p {
		text-align: left;
	}
}