@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gelasio:400,400i|Great+Vibes&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-image: url(../image/background-image.png);
	background-repeat: no-repeat;
	background-size: cover;
  min-height: 700px;

.filtr {
  background-color: rgba(0,0,0,0.4); 
  min-height: 700px;
}
  
  .navbar-brand > p {
    color: gold;
    text-transform: capitalize;
    font-size: 40px;
    font-family: 'Great Vibes', cursive;
    padding-top: 45px; 
  }
 
 .navbar-default {
		background-color: rgba(14, 13, 13, 0.01);
		.navbar-nav li a {
			color: white;
      text-transform: uppercase;
      padding-top: 60px;
      text-shadow: black 0.1em 0.1em 0.2em;
			&:hover {
				transform: scale(1.1);
				transition-duration: 0.5s;
				color:white;
			}
    }
    
		border: none;
  }
}

.text-center {
  background: none;
  color: white;
  
  p {
    padding-top: 110px;
    font-weight: 400;
    font-size: 42px;
    font-family: 'Great Vibes', cursive;
    font-family: 'Gelasio', serif;
    letter-spacing: 2px;
    text-shadow: rgb(3, 3, 3) 0.1em 0.1em 0.5em
  }

  h1 {
    letter-spacing: 6px;
    padding-top: 15px;
    font-weight: 900;
    font-size: 72px;
    text-transform: uppercase;
  }

 .btn {
    margin-top: 45px;
    width: 250px;
    height: 80px;
    border: 1px solid #FED136;
    background: #FED136;
 }

 a {
    padding-top: 23px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-weight: bold;
 }

}

.services {
 
  h2 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
    font-weight: 900;
    color: black;
}

  p {
    text-transform: initial;
    font-size: 14px;
    font-weight: 200;
    padding-top: 15px;
    color: rgb(117, 115, 115);
}

  .circle {
    margin-top: 80px;
    margin-left: 150px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 6px solid gold;
    color: gold;

  img {
    padding-top: 15px;
  }
}

.description-title {
  color: black;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  padding-left: 25px;

  .description > p {
    color: rgb(117, 115, 115);
    font-size: 14px;
  }
  }
}

.portfolio {
  margin-top: 100px;
  background: #F7F7F7;

  h2 {
    text-transform: uppercase;
    padding-top: 150px;
    text-align: center;
    font-size: 42px;
    font-weight: 900;
    color: black;
  }

    p {
      text-transform: initial;
      font-size: 14px;
      font-weight: 200;
      padding-top: 15px;
      color: rgb(117, 115, 115);
  }

  img {
    width: 100%;
    height: 450px;
    padding-top: 80px;
  }

  .level-two {
    margin-top: 20px;
  }
}
.desc {
  background: white;
  margin-top: -22px;

    h3 {
    color: black;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    padding-top: 30px;
  }

  p {
    color: rgb(117, 115, 115);
    font-size: 14px;
    padding-bottom: 35px;
    margin-top: -18px;
    font-style: italic;
  }

}

.about {
.photo-about>img {
  width: 120px;
  height: 120px;
}
}