@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');

/*variables*/
$black: rgb(14, 13, 13);
$color-title: rgb(190, 187, 187);
$red-details: rgb(247, 17, 17);
$gold-details:#FED136;
$white: #ffffff;
$blue-icons:rgb(62, 201, 236);

/* mixin */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

body {
  font-family: 'Merriweather', serif;
}

.section-title {
  margin-top: 100px;
  color: $black;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.section-subtitle {
  color: $color-title;
  margin-bottom: 80px;
  font-size: 14px;
}

header {
  background-image: url(../image/background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;

  .filtr {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 700px;
  }

  .navbar-brand>p {
    color: $gold-details;
    text-transform: capitalize;
    font-size: 36px;
    padding-top: 40px;
    font-family: 'Great Vibes', cursive;
  }

  .navbar-default {
    background-color: rgba(14, 13, 13, 0.01);

    .navbar-nav li a {
      color: $white;
      text-transform: uppercase;
      padding-top: 60px;

      &:hover {
        transform: scale(1.1);
        transition-duration: 0.5s;
        color: $white;
      }
    }

    border: none;
  }

  .jumbotron {
    background: none;
    color: $white;
    margin-top: 120px;

    p {
      font-size: 40px;
      text-shadow: rgb(26, 26, 26) 0.1em 0.1em 0.2em;
    }

    .btn {
      margin-top: 45px;
      width: 220px;
      height: 80px;
      border: 1px solid $gold-details;
      background: $gold-details;
      text-shadow: grey 0.1em 0.1em 0.1em;

      &:hover {
        transform: scale(1.1);
        transition-duration: 0.5s;
        color: $white;
      }
    }

    a {
      padding-top: 28px;
      text-transform: uppercase;
      color: $white;
      text-align: center;
      font-weight: bold;
    }
  }
}

.services {
  text-align: center;

  .circle {
    margin-left: 150px;
    width: 80px;
    height: 80px;
    @include border-radius(50%);
    border: 6px solid $gold-details;
    color: $gold-details;

    img {
      padding-top: 15px;
    }
  }

  .description-title {
    color: $black;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    padding-left: 25px;
  }
}

.portfolio {
  margin-top: 80px;
  background: $white;
  text-align: center;

  img {
    width: 100%;
    height: 450px;
    padding-top: 80px;
  }

  .level-two {
    margin-top: 20px;
    margin-bottom: 100px;
  }
}

.desc {
  background: $white;
  margin-top: -22px;

  h3 {
    color: $black;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    padding-top: 30px;
  }

  p {
    color: $color-title;
    font-size: 14px;
    padding-bottom: 15px;
    margin-top: -5px;
    font-style: italic;
  }
}

.about {
  margin: 80px 0;

  .middle {
    min-height: 273px;
  }

  .photo-box {
    position: relative;

    &::after {
      content: "";
      display: inline-block;
      min-height: 90px;
      width: 3px;
      background-color: $color-title;
      position: absolute;
      top: 183px;
      left: 50%;
    }

    img {
      height: 183px;
      width: 183px;
    }
  }

  .last-circle {
    height: 183px;
    width: 183px;
    border: 7px solid $color-title;
    background-color: $gold-details;
    @include border-radius(50%);
    color: $white;
    font-size: 22px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .date {
    color: $black;
    font-weight: bold;
    font-size: 18px;
  }

  .description-title {
    font-size: 16px;
    color: $black;
    font-weight: bold;
  }

  .description-text {
    color: $color-title;
    font-size: 14px;
  }
}

.team {
  text-align: center;
  background: $white;
  margin-top: 150px;

  .workers>img {
    @include border-radius(50%);
    width: 215px;
    height: 215px;
  }

  h3 {
    padding-top: 10px;
    color: $black;
    font-weight: bold;
  }

  .description {
    font-size: 18px;
    color: $color-title;
  }

  .text {
    margin-top: 30px;
    margin-bottom: 100px;
    font-size: 16px;
    color: $color-title;
  }

  .fab {
    border: 3px solid $black;
    @include border-radius(50%);
    width: 40px;
    height: 40px;
    margin: 8px;
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 50px;

    &:hover {
      color: rgb(255, 255, 255);
    }
  }

  .fa-twitter:hover {
    border: 3px solid $blue-icons;

    &:hover {
      background-color: $blue-icons;
    }
  }

  .fa-facebook-f:hover {
    border: 3px solid rgb(60, 134, 168);

    &:hover {
      background-color: rgb(60, 134, 168);
    }
  }

  .fa-google-plus-g:hover {
    border: 3px solid red;

    &:hover {
      background-color: $red-details;
    }
  }

  .fa-pinterest-p:hover {
    border: 3px solid $gold-details;

    &:hover {
      background-color: $gold-details;
    }
  }
}

.brands {
  margin: 60px auto;

  img {
    margin: 25px auto;
  }
}

.contact {
  background-image: url(../image/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;

  .title {
    margin-top: 100px;
    color: $white;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .subtitle {
    color: $color-title;
    margin-bottom: 80px;
    font-size: 14px;
  }

  input {
    margin-bottom: 22px;
    text-transform: uppercase;
  }

  input {
    height: 50px;
  }

  textarea {
    height: 210px;
    padding-top: 14px;
  }

  .form-control {
    font-weight: bold;
    text-transform: uppercase;
    color: $color-title;
    margin-bottom: 30px;
  }

  .btn-default {
    margin-bottom: 115px;
    margin-top: 0;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $gold-details;
    border: none;

    &:hover {
      transform: scale(1.1);
      transition-duration: 0.8s;
    }
  }

  .btn-lg {
    padding: 25px 50px;
    @include border-radius(3%);
  }
}

footer {
  text-align: center;
  margin: 20px 0 20px 0;

  p {
    color: $color-title;
    margin-top: 10px;
  }

  i.fab {
    color: $white;
    background-color: rgb(39, 38, 38);
    line-height: 38px;
    border: 3px solid rgb(39, 38, 38);
    @include border-radius(50%);
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 18px;
    margin-bottom: 10px;
  }
}

// // Media query

@media (max-width: 767px) {

  .navbar-default {
    padding-top: 25px;
  }

  .navbar-brand {
    padding-top: 1px;
    margin-top: -25px;
  }

  .services {
    text-align: center;

    .circle {

      margin: 0 auto;
      text-align: center;

      img {

        text-align: center;
      }
    }

    .description-title {
      text-align: center;
      padding-left: 0;
    }
  }

  .image>img {
    margin-top: -35px;
    margin-bottom: 25px;
  }

  .about {
    margin: 0;

    .photo-box {
      img {
        padding-top: -40px;
        height: 163px;
        width: 163px;
      }

      &::after {
        display: none;
      }
    }

    .last-circle {
      height: 163px;
      width: 163px;
    }

    .date {
      font-size: 16px;
      text-align: center;
    }

    .description-title {
      font-size: 14px;
      text-align: center;
    }

    .description-text {
      text-align: justify;
    }

    .photo-description {
      margin-top: -80px;
      margin-bottom: 60px;
    }
  }

  .brands {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  .description-title {
    padding: 0 0 20px 0;
  }

  .services {
    text-align: center;
    padding: 15px;

    .circle {
      text-align: center;
      margin: 30px auto;
    }

    .description-title {
      text-align: center;
      padding-left: 0;
    }
  }

  .image>img {
    margin-top: -35px;
    margin-bottom: 25px;
  }

  .about {
    margin: 0;

    .photo-box {
      img {
        padding-top: -40px;
        height: 163px;
        width: 163px;
      }

      &::after {
        display: none;
      }
    }

    .last-circle {
      height: 163px;
      width: 163px;
    }

    .date {
      font-size: 16px;
      text-align: center;
    }

    .description-title {
      font-size: 14px;
      text-align: center;
    }

    .description-text {
      text-align: justify;
    }

    .photo-description {
      margin-top: -80px;
      margin-bottom: 60px;
    }

    .brands {
      text-align: center;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

  .services {

    .circle {
      margin: 0 auto;
    }

    .description-title {
      padding-left: 0;
    }
  }
}
